@include apply();

* {
  box-sizing: border-box;
}

html,
body {
  color: themed('grey-12');
  background-color: themed('grey-1');
  font-family: 'IBM Plex Mono', monospace;

  margin: 0;
  padding: 0;
}

a {
  color: themed('teal-7');
  text-decoration: none;

  &:hover {
    color: themed('teal-8');
  }
}
