@use '@janis.me/themed' as *;

$themes: (
  'light': (
    'grey-1': #fdfcfe,
    'grey-2': #faf9fc,
    'grey-3': #f1eff5,
    'grey-12': #221e28,

    'teal-9': #16b6b3,
    'teal-10': #00aaa7,
  ),
  'dark': (
    'grey-1': #1e1e1e,
    'grey-2': #242424,
    'grey-3': #2d2d2d,
    'grey-12': #ededed,

    'teal-9': #16b6b3,
    'teal-10': #00aaa7,
  ),
);

@include configure($themes);

// Calling `apply` creates the styles for all themes.
@include apply();

// Everything below this is just to showcase.

html,
body {
  color: themed('grey-12');
  background-color: themed('grey-1');
  margin: 0;
  padding: 0;
}

button {
  color: themed('grey-12');
  background-color: themed('teal-9');
  border: none;
  padding: 6px 8px;
  cursor: pointer;

  &:hover {
    background-color: themed('teal-10');
  }
}

h1 {
  code {
    vertical-align: middle;
  }
}

code {
  font-weight: 400;
  color: themed('teal-9');
  background-color: themed('grey-3');
  border-radius: 3px;
  padding: 6px 8px;
  font-size: 1rem;
}

#app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  font-family: sans-serif;
}

#logo {
  max-height: 128px;
}

#toggle-theme-button {
  position: absolute;
  right: 32px;
  top: 32px;
}
