.header {
  background-color: themed('grey-2');
  border-bottom: 1px solid themed('grey-6');
  padding: 0 32px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
  }

  &__right {
    display: flex;
    align-items: center;
    gap: 8px;
    height: 100%;

    a {
      color: themed('grey-11');

      &:hover {
        color: themed('grey-12');
      }
    }

    > * {
      height: 100%;
      min-width: fit-content;
      vertical-align: middle;
      transition: all 200ms ease-in-out;
      cursor: pointer;

      display: flex;
      align-items: center;
      gap: 8px;
      padding: 0 16px;

      &:hover {
        background-color: themed('grey-3');
      }
    }
  }

  h1 {
    font-size: 1.3rem;

    code {
      font-weight: 400;
      color: themed('teal-9');
      background-color: themed('grey-3');
      border-radius: 3px;
      padding: 6px 8px;
      font-size: 1rem;
    }
  }

  &__theme-toggle {
    color: themed('grey-11');
    background-color: transparent;
    border: none;

    &:hover {
      color: themed('grey-12');
    }
  }
}
