@use '/src/styles/global.scss' as *;

// This file is just used to demonstrate, that you can use the themed function in all your files.

button {
  color: themed('grey-12');
  background-color: themed('teal-9');
  border: none;
  padding: 6px 8px;
  cursor: pointer;

  &:hover {
    background-color: themed('teal-10');
  }
}
