.terminal {
  &__container {
    position: relative;
    background-color: ed('grey-1');
    border-top: 1px solid themed('grey-6');
    padding: 8px 16px;
  }

  &__instance {
    height: 100%;
  }
}

.xterm {
  height: 100%;
}
