@forward '@janis.me/react-themed';
@forward 'include-media';

@use 'sass:meta';
@use '@janis.me/react-themed' as themed;
@use '@janis.me/react-themed/generators';
@use '@janis.me/react-themed/plugins';

$themes: ();

@include themed.configure(
  $themes,
  generators.size(),
  generators.colors($primary: #16b6b3, $target-space: oklch),
  plugins.alpha(
    $operation: 'change',
    $steps: (
      0.2,
      0.4,
      0.9,
    )
  )
);
