* {
  box-sizing: border-box;
}

html,
body {
  color: themed('gray-12');
  background-color: themed('gray-1');
  font-family: 'IBM Plex Mono', monospace;

  margin: 0;
  padding: 0;
}

a {
  color: themed('primary-7');
  text-decoration: none;

  &:hover {
    color: themed('primary-8');
  }
}

h1,
h2,
h3,
h4,
p,
input,
button {
  color: themed('gray-12');
}

label {
  color: themed('gray-11');
}

button {
  background-color: themed('gray-1');
  color: themed('gray-12');
  border: none;
  padding: 8px 16px;
  border-radius: 3px;
  cursor: pointer;
  transition: all 100ms ease-in-out;

  &:hover {
    background-color: themed('gray-2');
  }
}
